In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = pd.read_csv('D:/ML_CODE/BreastCancer.csv')

In [3]:
data.head()

,Id,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1.0,3,1,1,0
1,1002945,5,4,4,5,7,10.0,3,2,1,0
2,1015425,3,1,1,1,2,2.0,3,1,1,0
3,1016277,6,8,8,1,3,4.0,3,7,1,0
4,1017023,4,1,1,3,2,1.0,3,1,1,0

In [4]:
print(data.shape)
data = data.dropna(axis=0)
print(data.shape)

(699, 11)
(683, 11)

In [5]:
X= data.drop(columns=['Id','Class'])
X.head()

,Cl.thickness,Cell.size,Cell.shape,Marg.adhesion,Epith.c.size,Bare.nuclei,Bl.cromatin,Normal.nucleoli,Mitoses
0,5,1,1,1,2,1.0,3,1,1
1,5,4,4,5,7,10.0,3,2,1
2,3,1,1,1,2,2.0,3,1,1
3,6,8,8,1,3,4.0,3,7,1
4,4,1,1,3,2,1.0,3,1,1

In [8]:
y = data['Class']

In [9]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder() 
X = onehotencoder.fit_transform(X)

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( X , y , test_size = 0.3, random_state = 0)

In [11]:
from sklearn.svm import SVC
model = SVC()
model.fit(X_train,Y_train)

SVC()

In [12]:
model.score(X_train,Y_train)

0.9874476987447699

In [13]:
model.score(X_test,Y_test)

0.975609756097561